.title {
    font-weight: bold;
}

.content {
    font-style: italic;
}

.annotation {
    font-style: italic;
    font-size: 60%;
}

h1 {
    font-weight: bold;
    font-size: 150%;
}

.question {
    border: 1px solid black;
    padding: 10px;
}

.error {
    color: #881111;
}

.random {
    margin: 20px 0;
}